/* Navbar */
.a-email,
.a-phone {
    color: #FFFFFF;
}
.h2-logo-title {
    display: flex;
    align-items: center;
}
.main-logo {
    width: 40px;
    height: 40px;
}
.main-title {
    font-size: 16px;
    padding-left: 10px;
}
/* End Navbar */
/* Top Section */
.top-section {
    background-image: url("../images/sacha1280x854/1.png") !important;
}
/* End Top Section */
/* Contact Section */
.socmed-fixed-container {
    position: fixed !important;
    bottom: 40px;
    left: 0;
    z-index: 1;
}
/* End Contact Section */