* {
    font-family: "Poppins", sans-serif;
}
/* Navbar */
.a-email,
.a-phone {
    color: #FFFFFF;
}
.h2-logo-title {
    display: flex;
    align-items: center;
}
.main-logo {
    width: 40px;
    height: 40px;
}
.main-title {
    font-size: 16px;
    padding-left: 10px;
}
/* End Navbar */
/* Top Section */
.top-section {
    background-image: url("../images/sacha1280x854/4.png") !important;
}
/* End Top Section */
/* FAQ List */
.faq-list-title {
    font-size: 20px !important;
}
/* End FAQ List */
@media screen and (min-width: 1025px) {
    /* FAQ List */
    .faq-list-title {
        font-size: 24px !important;
    }
    .faq-list-text {
        /* font-size: 18px !important; */
    }
    /* End FAQ List */
}