/* Navbar */
.a-email,
.a-phone {
    color: #FFFFFF;
}
.h2-logo-title {
    display: flex;
    align-items: center;
}
.main-logo {
    width: 40px;
    height: 40px;
}
.main-title {
    font-size: 16px;
    padding-left: 10px;
}
/* End Navbar */
/* Top Section */
.top-section {
    background-image: url("../images/sacha1280x854/2.png") !important;
}
/* End Top Section */
/* Image Section */
.image-list-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-list-container {
    width: 90%;
    max-width: 1800px;
    display: grid;
    grid-template-columns: auto auto;
    height: calc(110px * 21);
}
.image-element-container {
    padding: 10px;
}
.image-element {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .image-element:nth-child(1) {
    background-image: url("../images/sachamix/1.jpg");
} */
/* End Image Section */

@media screen and (min-width: 373px) {
    /* Image Section */
    .image-list-container {
        height: calc(140px * 21);
    }
    /* End Image Section */
}

@media screen and (min-width: 450px) {
    /* Image Section */
    .image-list-container {
        height: calc(170px * 21);
    }
    /* End Image Section */
}
@media screen and (min-width: 700px) {
    /* Image Section */
    .image-list-container {
        grid-template-columns: auto auto auto;
    }
    .image-list-container {
        height: calc(100px * 21);
    }
    /* End Image Section */
}
@media screen and (min-width: 900px) {
    /* Image Section */
    .image-list-container {
        height: calc(160px * 21);
    }
    /* End Image Section */
}
@media screen and (min-width: 1025px) {
    /* Image Section */
    .image-list-container {
        grid-template-columns: auto auto auto auto;
    }
    .image-list-container {
        height: calc(100px * 21);
    }
    /* End Image Section */
}